@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617; /* Slate 950 */
  color: white;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
}